.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: $transition;

    &.is-active {
        z-index: 100;
        opacity: 1;
        visibility: visible;
    }

    &__overlay {
        display: block;
        width: 100%;
        height: 100%;
        padding: 32px;
        background-color: rgba(12, 12, 12, 0.8);
    }

    &__input {
        // opacity: 1;
        // visibility: visible;
        // height: auto;
        border-radius: $borderRadius;
        border: 1px solid #1b1f2336;
    }

    &__inner {
        position: relative;
        height: 100%;
    }

    &__body {
        color: $textColor;
        height: 100%;
        padding: 20px;
        background-color: $whiteColor;
        border-radius: $borderRadius;
        height: 100%;
    }

    &__header {
        border-bottom: 1px solid $border;
        padding-bottom: 12px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
    }

    &__date {
        font-size: 12px;
        opacity: 0.8;
    }

    &__wrapper {
        height: 100%;
        padding: 20px 0;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px rgba(53, 48, 48, 0.24);
        background-color: $whiteColor;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50%;
            object-fit: contain;
        }
    }

    &__text-area-wrap {
        display: none;
        height: 100%;

        &.show {
            display: block;
        }
    }

    &__text-area {
        margin-bottom: 20px;
        width: 100%;
        height: calc(100% - 120px);
        border-radius: $borderRadius;
        border: 1px solid #1b1f2336;
    }

    &__btn {
        cursor: pointer;
        transition: $transition;
        padding: 10px 24px;
        color: $whiteColor;
        border-radius: $borderRadius;
        background-color: $active;

        &:hover {
            background-color: $activeHover;
        }

        &:active {
            background-color: $activeActive;
        }
    }
}
