.task-list {
    position: relative;
    padding: 90px 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: $bgMain;

    .container {
        overflow: hidden;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        color: $textColor;
        padding: 6px 8px 6px;
        user-select: none;

        &.hide {
            display: none;
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        overflow-y: hidden;
        padding-bottom: 40px;
        // border: 1px solid rgb(255, 255, 255);
    }

    &__inner {
        position: relative;
        margin-right: 20px;
        border-radius: $borderRadius;
        padding-bottom: 12px;
        background-color: rgb(170, 165, 165);
        min-width: 280px;
        max-width: 280px;
        box-shadow: 0px 0px 20px $borderOpacity;

        &:hover {
            .task-list__add-task {
                opacity: 1;
                padding: $padding;
                height: auto;
                visibility: visible;
            }
        }
    }

    &__track {
        position: relative;
        padding: 0;
        margin: 0;
        margin-bottom: 12px;
        max-height: 60vh;
        overflow-y: auto;
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        border-radius: $borderRadius;
        padding: $padding;
        background-color: rgb(236, 228, 228);
        margin-bottom: 12px;
        color: $textColor;
        padding-right: 50px;

        &:hover {
            .task-list__btn-del {
                display: block;
            }
        }
    }

    &__add-task-wrap {
        padding: $padding;
    }

    &__add-task {
        position: relative;
        user-select: none;
        transition: $transition;
        padding: 0;
        display: flex;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        height: 0;

        &-btn {
            cursor: pointer;
            color: $whiteColor;
            border: none;
            background-color: transparent;
        }

        &-ico {
            width: 14px;
            height: 14px;
            background-color: #fff;
            mask-size: 100% 100%;
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3e%3cpath fill='%23000' d='M10.5 2.75a.75.75 0 1 0-1.5 0V9H2.75a.75.75 0 0 0 0 1.5H9v6.25a.75.75 0 1 0 1.5 0V10.5h6.25a.75.75 0 1 0 0-1.5H10.5V2.75Z'/%3e%3c/svg%3e ");
        }
    }

    &__btn-add-wrap-task {
        cursor: pointer;
        position: fixed;
        bottom: 72px;
        right: 30px;
        z-index: 10;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        transition: $transition;

        &:hover {
            background-color: #fff;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__btn-del {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        right: 20px;
        display: none;

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:after {
            transition: $transition;
            opacity: 0.4;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: $bgMain;
            mask-size: 100% 100%;
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3e%3cpath fill='%23000' d='M20 10.5v.5h8v-.5a4 4 0 1 0-8 0Zm-2.5.5v-.5a6.5 6.5 0 1 1 13 0v.5h11.25a1.25 1.25 0 0 1 0 2.5h-2.917l-2 23.856A7.25 7.25 0 0 1 29.608 44H18.392a7.25 7.25 0 0 1-7.224-6.644l-2-23.856H6.25a1.25 1.25 0 0 1 0-2.5H17.5Zm-3.841 26.147a4.75 4.75 0 0 0 4.733 4.353h11.216a4.75 4.75 0 0 0 4.734-4.353L36.324 13.5H11.676l1.983 23.647ZM21.5 20.25a1.25 1.25 0 1 0-2.5 0v14.5a1.25 1.25 0 1 0 2.5 0v-14.5ZM27.75 19c.69 0 1.25.56 1.25 1.25v14.5a1.25 1.25 0 0 1-2.5 0v-14.5c0-.69.56-1.25 1.25-1.25Z'/%3e%3c/svg%3e ");
        }
    }
}
