html,body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 140%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: $whiteColor;
    position: relative;
}

body {
    font-size: 16px;
    background-color: rgb(248, 248, 248);

    &.overflow{
        overflow-y: hidden;
    }
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
}

section {
    width: 100%;
}