html,body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 140%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: $whiteColor;
    position: relative;
}

body {
    font-size: 16px;
    background-color: rgb(248, 248, 248);

    height: 100vh;
    display: flex;
    flex-direction: column;

    &.overflow{
        overflow-y: hidden;
    }
}

.header, .footer {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header {
    top: 0;
    left: 0;
}

.footer {
    bottom: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
}

section {
    width: 100%;
}